TempoDivision {
    width: 16px;
    height: 16px;
    background-image: resource("Assets/Tabirhythm/Scripts/Beatmap/Editor/Sprites/Tempo-Keyframe.png");
}

TempoBeat {
    width: 20px;
    height: 20px;
    background-image: resource("Assets/Tabirhythm/Scripts/Beatmap/Editor/Sprites/Tempo-Keyframe.png");
}

TempoMeasure {
    width: 32px;
    height: 32px;
    background-image: resource("Assets/Tabirhythm/Scripts/Beatmap/Editor/Sprites/Tempo-Bar.png");
}
